server:
  sources:
    - path: /storage
      name: storage
      config:
        defaultEnabled: true
auth:
  adminUsername: admin
  adminPassword: "__FB_ADMIN_PASSWORD__"
  methods:
    password:
      enabled: true
